.wo-404error{
	@extend %flex;
	text-align: center;
	flex-direction: column;
	&__img{
		margin: 0 0 35px;
	}
}
.wo-errorcontent{
	@extend %flex;
	margin: 0 auto;
	max-width: 570px;
	align-items: center;
	flex-direction: column;
	& h3{
		margin: 0 0 18px;
		font-size:rem(20px);
		line-height: em(26px,20px);
	}
	& p{
		margin: 0 0 25px;
		font-size: rem(16px);
		line-height: em(22px,16px);
	}
	.wo-btn{
		min-width: 160px;
		line-height: 44px;
	}
	.wo-reportbtn{
		margin-top: 27px; 
		color: $form-color;
		font: rem(14px)/em(16px,14px) $heading-font-family;
	}
}