.wo-signupwrap{
	@extend %flex;
	&__img{
		max-width: 445px;
		border-radius: $radius 0 0 $radius;
		margin-bottom: 0;
		& img{
			border-radius: $radius 0 0 $radius;
		}
	}
}
.wo-signup{
	flex: auto;
	border:1px solid $border-color;
	border-radius: 0 $radius $radius 0;
	&__title{
		padding:25px 30px;
		border-bottom:1px solid $border-color;
		& h3{
			font-size: rem(16px);
			line-height: em(20px,16px);
			margin-bottom: 0;
		}
	}
}
.wo-signup-form{
	padding: 30px 30px 31px;
	& .wo-titleinput{
		color: $theme-color;
	}
	& .wo-form-btn{
		margin-top: 10px;
		& .wo-btn{margin-left: auto;}
	}
	& .form-control{
		border-color:$border-color;
	}
}
.wo-signup-status{
    width: 100%;
    margin: -5px;
	@extend %flex;
	.wo-radio{
		width: 50%;
		padding: 5px;
		display: block;
		text-align: center;
		input[type=radio]{
			& + label{
				padding: 14px 20px;
				font-size:rem(15px);
				border-radius:$radius;
				line-height: em(20px,15px);
				border:1px solid $border-color;
				& span{
					display: block;
				}
				& i{
					font-size:rem(12px);
					margin-right: 5px; 
				}
				&:after,
				&:before{display: none; }
			}
			&:checked{
				& + label{
					background: #3cd594;
					border-color: #3cd594;
					& span{
						color: #fff;
						& i{
							font-weight: 700;
							&:before{content: "\f058";}
						}
					}
				}
			}
		}
	}
}
.wo-signupfooter{
	padding: 0 30px 29px;
	.wo-optionsbar{
		margin: -5px 0 27px;
	}
	.wo-loginicon .wo-titleinput{min-width: 190px;}
}
