$theme-color: #123652;
$primary-color: #fdc500;
$secondary-color: #afb7bf;
$body-color:#676767;
$lightbg:#eef5ff;
$anchor-color: #55acee;
$border-color: #eee;
$form-border: #efefef;
$form-border2: #ddd;
$form-color: #999;
$heading-font-family: 'Cabin', sans-serif;
$body-font-family: 'Source Sans Pro', sans-serif;
$third-font-family: 'Source Serif Pro', serif;
$radius: 4px;
$radius2: 6px;
$text-light: #767676;
$bg-green: #3cd594;
$list-bg: #fcfcfc;
$tabs-bg: #f7f7f7;
$white-bg: #fff;
$chkbox-bg: #2ecc71;