/* --------------------------------------
=========================================
COLOR : SLATE

MAIN COLOR CODE: #6b798f

DEEP COLOR CODE: #58677e
=========================================
----------------------------------------- */
.post-carousel-style-2.owl-theme.owl-carousel .owl-nav > div:hover,
.entry-footer .post-meta a:hover,
.entry-footer .post-meta a:focus,
.reply,
.reply > a,
.color-text,
a:hover,
a:focus,
a:active,
.btn-link,
.cat-link,
.separator,
.post-format-icon,
.header-nav .menu  a:hover,
.header-nav .menu  a:focus,
.header-nav .menu  a:active,
.list-style i,
blockquote:before,
.widget > ul li a:hover{
	color: #6b798f;
}
.shape1, .shape2, .footer-widget-area .widget-title:before,
.post-carousel .owl-nav [class*="owl-"]:hover,
.social-icons-style1 li:hover,
.social-icons-style2 li a:hover i,
.header-nav.nav-style-dark .menu > .pull-right:hover a,
.btn-dark:hover,
.btn-dark:focus,
.phone-icon-wrap,
.email-icon-wrap,
.add-icon-wrap,
.color-bg,
.image-info:after,
.image-info:before,
.tagcloud a:hover,
.tagcloud a:focus,
.widget .footer-social-icons li a i:hover,
.widget .footer-social-icons li a i:focus,
.header-nav.nav-style-light .menu > li.active a:before,
.header-nav.nav-style-light .menu > li:hover a:before,
.btn-light:hover,
.btn-light:focus,
.about-me li a:hover,
.btn-default{
	background-color: #6b798f;
}
.post-carousel-style-2.owl-theme.owl-carousel .owl-nav > div:hover,
.social-icons-style2 li a:hover i,
.single-gallary-item-inner::before,
.btn-dark:hover,
.btn-dark:focus,
.contact-info .info-inner,
.contact-info,
.tagcloud a:hover,
.tagcloud a:focus,
.widget .footer-social-icons li a i:hover,
.widget .footer-social-icons li a i:focus,
.btn-light:hover,
.btn-light:focus,
.header-style2,
blockquote,
.post-format-icon,
.btn-default,
.selectize-input.focus{
	border-color: #6b798f;
}

.single-gallary-item-inner::after{
    background: rgba(110, 131, 89, 0.9) none repeat scroll 0 0;
}
